<form class="comment-form card">
    <div class="card-header"></div>
    <div class="card-body">
        <label for="comment-body" class="form-label">Comment</label>
        <textarea name="comment-body" class="form-textarea" style="margin-bottom: 2%;"></textarea>
        <button type="submit" class="btn">add comment</button>
    </div>

</form>