<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header class="hero">
        <nav class="flex-row">
            <div class="col-1">
                <a href="/" class="link primary">Home</a>
            </div>
                {{#if loggedIn}}
                    <div class="col-1">
                        <a href="/dashboard" class="link">Dashboard</a>
                    </div>
                    <div class="col-1">
                        <button id="logout" class="link">Logout</button>
                    </div>
                {{else}}
                    <div class="col-1">
                        <a href="/login" class="link">Dashboard</a>
                    </div>
                    <div class="col-1">
                        <a href="/login" class="link">Login</a>
                    </div>
                {{/if}}
        </nav>
        <h1 class="app-title">
          The Tech Blog
        </h1>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>

    {{#if loggedIn}}
      <script src="/scripts/logout.js"></script>
    {{/if}}
  </body>

</html>