<form class="login-form card">
  <div class="card-header">
    Login
  </div>
  <div class="card-body">
    <label for="username-login" class="form-label">Username</label>
    <input type="text" id="username-login" class="form-input"/>

    <label for="password-login" class="form-label">Password</label>
    <input type="password" id="password-login" class="form-input"/>
  </div>
  <div style="padding: 0 1%;">
    <button type="submit" class="btn">Login</button>
  </div>
  <a href="#!" class="swap-signup" style="padding: 1%;">Sign up instead</a>
</form>

<form class="signup-form card hidden">
    <div class="card-header">
        Sign Up
    </div>
  <div class="card-body">
    <label for="username-signup" class="form-label">Username</label>
    <input type="text" id="username-signup" class="form-input"/>

    <label for="password-signup" class="form-label">Password</label>
    <input type="password" id="password-signup" class="form-input"/>
  </div>
  <div style="padding: 0 1%;">
    <button type="submit" class="btn">Sign Up</button>
  </div>
  <a href="#!" class="swap-login" style="padding: 1%;">Log in instead</a>
</form>


<script src="/scripts/login.js"></script>